<br/>
<div class="container" [class.vertical-center]="!isMobileSize">
    <div class="card text-white bg-dark">
        <div class="card-body">
            <h1 (click)="clickToBack()">{{cat}}</h1>
        </div>
    </div>
    <div class="card border-warning" *ngFor="let item of items">
        <div class="card-body">
            <ng-template [ngIf]="cat==='films'" [ngIfElse]="others">
                <div>
                    <h2><a (click)="onClick(cat.toString(),item.url.toString())">{{item.title}}</a></h2>
                </div>
            </ng-template>

            <ng-template #others>
                <div>
                    <h2><a (click)="onClick(cat.toString(),item.url.toString())">{{item.name}}</a></h2>
                </div>
            </ng-template>
        </div>
    </div>
</div>
